In [ ]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np
# ^^^ pyforest auto-imports - don't write above this line

In [10]:
df=pd.read_csv('C:/Users/Mani/Downloads/COVID-19 Cases.csv', parse_dates=True)
df

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.818200,8.227500,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
1,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.126400,33.429900,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
2,Confirmed,NaN,23,0,4/21/2020,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.060800,-61.796400,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
3,Deaths,NaN,0,0,2/11/2020,Jamaica,Jamaica,NaN,NaN,JM,JAM,NaN,18.109600,-77.297500,2961161.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
4,Confirmed,NaN,0,0,2/6/2020,Belize,Belize,NaN,NaN,BZ,BLZ,NaN,17.189900,-88.497600,397621.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718075,Confirmed,NaN,0,0,1/22/2020,"Jones, Georgia, US",US,Georgia,Jones,US,USA,13169.0,33.025121,-83.560192,28735.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718076,Deaths,NaN,0,0,1/22/2020,"Tulsa, Oklahoma, US",US,Oklahoma,Tulsa,US,USA,40143.0,36.119396,-95.940139,651552.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718077,Deaths,NaN,0,0,1/22/2020,"Wood, Wisconsin, US",US,Wisconsin,Wood,US,USA,55141.0,44.455379,-90.041583,72999.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718078,Confirmed,NaN,0,0,1/22/2020,"Starke, Indiana, US",US,Indiana,Starke,US,USA,18149.0,41.278903,-86.646869,22995.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718079,Confirmed,NaN,0,0,1/22/2020,"Pierce, North Dakota, US",US,North Dakota,Pierce,US,USA,38069.0,48.249770,-99.964078,3975.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [11]:
type(df.Date[0])

str

In [9]:
df['Date']=pd.to_datetime(df.Date)
df

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,0,0,2020-02-03,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.818200,8.227500,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
1,Deaths,NaN,0,0,2020-03-01,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.126400,33.429900,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
2,Confirmed,NaN,23,0,2020-04-21,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.060800,-61.796400,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
3,Deaths,NaN,0,0,2020-02-11,Jamaica,Jamaica,NaN,NaN,JM,JAM,NaN,18.109600,-77.297500,2961161.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
4,Confirmed,NaN,0,0,2020-02-06,Belize,Belize,NaN,NaN,BZ,BLZ,NaN,17.189900,-88.497600,397621.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718075,Confirmed,NaN,0,0,2020-01-22,"Jones, Georgia, US",US,Georgia,Jones,US,USA,13169.0,33.025121,-83.560192,28735.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718076,Deaths,NaN,0,0,2020-01-22,"Tulsa, Oklahoma, US",US,Oklahoma,Tulsa,US,USA,40143.0,36.119396,-95.940139,651552.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718077,Deaths,NaN,0,0,2020-01-22,"Wood, Wisconsin, US",US,Wisconsin,Wood,US,USA,55141.0,44.455379,-90.041583,72999.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718078,Confirmed,NaN,0,0,2020-01-22,"Starke, Indiana, US",US,Indiana,Starke,US,USA,18149.0,41.278903,-86.646869,22995.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
718079,Confirmed,NaN,0,0,2020-01-22,"Pierce, North Dakota, US",US,North Dakota,Pierce,US,USA,38069.0,48.249770,-99.964078,3975.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [12]:
df.isna().sum()

Case_Type                                    0
People_Total_Tested_Count               715728
Cases                                        0
Difference                                   0
Date                                         0
Combined_Key                                 0
Country_Region                               0
Province_State                           37128
Admin2                                   54264
iso2                                       408
iso3                                       204
FIPS                                     76092
Lat                                      21420
Long                                     21420
Population_Count                         21420
People_Hospitalized_Cumulative_Count    715728
Data_Source                                  0
Prep_Flow_Runtime                            0
dtype: int64

In [13]:
df.Case_Type.value_counts()

Deaths       359040
Confirmed    359040
Name: Case_Type, dtype: int64

In [70]:
pivot_df=df.pivot_table(index=['Country_Region','Combined_Key','Date'],columns=['Case_Type'],values=['Cases'],aggfunc='sum')
pivot_df

                                          Cases
Case_Type                             Confirmed Deaths
Country_Region Combined_Key Date
Afghanistan    Afghanistan  1/22/2020         0      0
                            1/23/2020         0      0
                            1/24/2020         0      0
                            1/25/2020         0      0
                            1/26/2020         0      0
...                                         ...    ...
Zimbabwe       Zimbabwe     4/7/2020         11      2
                            4/8/2020         11      3
                            4/9/2020         11      3
                            5/1/2020         40      4
                            5/2/2020         34      4

[359040 rows x 2 columns]

In [71]:
pivot_df.reset_index(inplace=True)
pivot_df

          Country_Region Combined_Key       Date     Cases
Case_Type                                        Confirmed Deaths
0            Afghanistan  Afghanistan  1/22/2020         0      0
1            Afghanistan  Afghanistan  1/23/2020         0      0
2            Afghanistan  Afghanistan  1/24/2020         0      0
3            Afghanistan  Afghanistan  1/25/2020         0      0
4            Afghanistan  Afghanistan  1/26/2020         0      0
...                  ...          ...        ...       ...    ...
359035          Zimbabwe     Zimbabwe   4/7/2020        11      2
359036          Zimbabwe     Zimbabwe   4/8/2020        11      3
359037          Zimbabwe     Zimbabwe   4/9/2020        11      3
359038          Zimbabwe     Zimbabwe   5/1/2020        40      4
359039          Zimbabwe     Zimbabwe   5/2/2020        34      4

[359040 rows x 5 columns]

In [83]:
pivot_df

          Country_Region Combined_Key       Date     Cases
Case_Type                                        Confirmed Deaths
0            Afghanistan  Afghanistan 2020-01-22         0      0
1            Afghanistan  Afghanistan 2020-01-23         0      0
2            Afghanistan  Afghanistan 2020-01-24         0      0
3            Afghanistan  Afghanistan 2020-01-25         0      0
4            Afghanistan  Afghanistan 2020-01-26         0      0
...                  ...          ...        ...       ...    ...
359035          Zimbabwe     Zimbabwe 2020-04-07        11      2
359036          Zimbabwe     Zimbabwe 2020-04-08        11      3
359037          Zimbabwe     Zimbabwe 2020-04-09        11      3
359038          Zimbabwe     Zimbabwe 2020-05-01        40      4
359039          Zimbabwe     Zimbabwe 2020-05-02        34      4

[359040 rows x 5 columns]

In [72]:
type(pivot_df.Date[0])

str

In [73]:
pivot_df['Date']=pd.to_datetime(pivot_df.Date)
pivot_df

          Country_Region Combined_Key       Date     Cases
Case_Type                                        Confirmed Deaths
0            Afghanistan  Afghanistan 2020-01-22         0      0
1            Afghanistan  Afghanistan 2020-01-23         0      0
2            Afghanistan  Afghanistan 2020-01-24         0      0
3            Afghanistan  Afghanistan 2020-01-25         0      0
4            Afghanistan  Afghanistan 2020-01-26         0      0
...                  ...          ...        ...       ...    ...
359035          Zimbabwe     Zimbabwe 2020-04-07        11      2
359036          Zimbabwe     Zimbabwe 2020-04-08        11      3
359037          Zimbabwe     Zimbabwe 2020-04-09        11      3
359038          Zimbabwe     Zimbabwe 2020-05-01        40      4
359039          Zimbabwe     Zimbabwe 2020-05-02        34      4

[359040 rows x 5 columns]

In [74]:
pivot_df.isna().sum()

                Case_Type
Country_Region               0
Combined_Key                 0
Date                         0
Cases           Confirmed    0
                Deaths       0
dtype: int64

In [75]:
pivot_df.columns

MultiIndex([('Country_Region',          ''),
            (  'Combined_Key',          ''),
            (          'Date',          ''),
            (         'Cases', 'Confirmed'),
            (         'Cases',    'Deaths')],
           names=[None, 'Case_Type'])

In [105]:
#pivot_df.groupby(['Country_Region']).agg({pivot_df.columns.get_level_values(1)[3] : np.sum})
pivot_df.groupby(['Country_Region']).agg({tuple(pivot_df.Cases.Confirmed) : np.sum})

D:\Anaconda\lib\site-packages\pandas\core\groupby\generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

KeyError: 'Key length (359040) exceeds index depth (2)'

In [118]:
pivot_df.groupby(['Country_Region']).agg({pivot_df[['Cases','Confirmed']] : np.sum})

KeyError: "['Confirmed'] not in index"

In [86]:
#pivot_df_drop_level=pivot_df.copy()

In [91]:
#pivot_df_drop_level=pivot_df_drop_level.droplevel('Confirmed')

KeyError: 'Requested level (Confirmed) does not match index name (None)'

In [96]:
#pivot_df_drop_level.index.unique('Country_Region')

KeyError: 'Requested level (Country_Region) does not match index name (None)'